* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}


header{
    background-color: aqua;    
    display:flex;
    flex-wrap: wrap-reverse;
    background-image: url("../images/colorfulsports.jpg");
    background-size:contain;
    height: 200px;
    top:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.headimg{
    display:flex;
    justify-content: left;
    width: 300px;
}



.cta p {
    display: flex;
    flex-wrap: auto;
    justify-content: center;
    text-align: center;
    width: 66rem;
    height: 5rem;
    border: solid;
    border-radius: 25px;
    padding: 10px;
    font-size: xx-large;
    background-color: white;
    

}

nav{
    margin-left: 30px;
    
}
.navigat{
    margin-right: 20px;
    text-decoration:30px;
}

.current-news{
    margin-top: 30px;
}

.current-story{
    margin:  30px;
    padding: 20px;
    background-color: lightcyan;
}

.container {

    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    box-shadow: 0 2px 6px 2px black;
    margin: 1rem;
    padding: 1rem;
    width: 28rem;
    word-wrap: break-word;
    border-radius: 1rem;
}


.news-story{
    margin: 10px 10px;
}

#card-team {
    color: black;
    padding: 0 0 30px 0;
    font-size: 3rem;
}

#card-title{
    color: blueviolet;
    padding: 30px 0 30px 0;
    font-size: 2rem;
}

#card-content {
    color: black;
    padding: 30px 0 0 0;
    font-size: 1.1rem;
}

#card-source{
    color: black;
    font-size: 1.1rem;
}

#card-button {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 6px 2px black;
    background-color: #90D7FF;
    padding: 5px 10px;
    margin: 10px;
    text-decoration: none;
    color: red;
    font-size: large;
    width: 20%;
}

#card-button:hover {
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.07);
}

 #holder {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .hide {
     display: none;
 }

 .countryImg {
     width:100%;
 }

