html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}


header{
    background-color: aqua;    
    display:flex;
    flex-wrap: wrap;
}
.headimg{
    display:flex;
    justify-content: left;
    width: 300px;


}
nav{
    justify-content: right;
    margin-right: 10px;
}
.navigat{
    margin-right: 20px;
}

.current-news{
    margin-top: 30px;
}

.current-story{
    margin:  30px;
    padding: 20px;
    background-color: lightcyan;
}

.container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: white;
    margin: 2rem;
    padding: 1rem;
    width: 12rem;
    word-wrap: break-word;
    border-radius: 1rem;
}

.news-story{
    margin: 10px 10px;
}

#card-title{
    color: blueviolet;
}

#card-content {
    color: black;
}

 #holder {
     display: flex;
     flex-wrap: wrap;
 }
